* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

.header {
    background-color: #fff;
    padding: 0 5px;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}

.headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logoContainer img {
    width: 80px;
    height: auto;
}

.navItems ul {
    display: flex;
    list-style-type: none;
}

.navItems ul li {
    margin-left: 25px;
    font-size: 18px;
}

.resCard .shimmerCards {
    height: auto;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    margin-top: 30px;
}

.shimmerCards {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    min-height: 300px;
}

.bodyBox {
    padding: 50px 0;
}

.shimmerContainer {
    margin-top: 60px;
}

.cardConatiner, .shimmerContainer{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.filter-btn {
    padding: 7px 10px;
    background-color: #f1f1f1;
}

.filter {
    display: flex;
    margin-bottom: 20px;
}

.search {
    margin-right: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 10px;
    margin-right: 20px;
}

.login {
    padding:  5px 20px;
    cursor: pointer;
}

.userCard {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 100%;
}